* {
    margin: 0;
    box-sizing: border-box;
}
div {
    width: 80vw;
    margin: auto;
    background-color: rgb(241, 247, 231);
}

header, footer {
    background-color: rgb(255, 203, 203);
    text-align: center;
    margin: 1%
}
header {
    padding: 2%
}
footer {
    padding: 1%
}

nav ul {
    list-style: none;
    padding: 1%;
    text-align: center;
    background-color: rgb(152, 221, 202);
    margin: 1.5% 0
}
nav li {
    display: inline;
    margin: 5% 3%;
    border: solid black 2px;
    padding: 0.5%;
    background-color: rgb(231, 234, 181);
}
nav li a{
    text-decoration: none;
    padding: 1%;
    color: black;

}

/* unique code */

main p {
    text-align: center;
    color: #301E67;
    border: black 2px solid;
    padding: 1%
}
h3 {text-align: center}
h1 {
    color: #1B4242;
}

img {
    display: block;
    margin: auto;
    max-width: 70%;
}
