* {
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: rgb(228, 228, 208);
}


/* age verification settings */
label {
    font-size: calc(1vw + 7px);
}

input {
    font-size: calc(1vw + 7px);
}

button {
    font-size: calc(1vw + 6px);
}


/* nav plus main div tag */
#container {
    display: flex;
    flex-direction: row;
    width: 100%;
    visibility: hidden;

}

header {
    background-color: rgb(174, 195, 174);
    text-align: center;
    margin-top: 0;
}


header, #subtitle {
    text-align: left
}

header {
    padding: 2%;
}

h1 {
    font-size: calc(2vw + 15px);
}

header p {
    font-size: calc(1vw + 5px);
}



/* nav settings */

nav {
    width: 20%;

}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    margin: 0;
    align-items: center;
    padding: 1.5%;
    height: 100%;
    background-color: rgb(187, 226, 236);
}

nav li {
    margin: 10% 0.5% 10% 0;
    border: solid black 2px;
    padding: 3% 0.5%;
    align-items: center;
    font-size: calc(1vw + 8px);
    background-color: cadetblue;
}

nav li a {
    text-decoration: none;
    padding: 1%;
    color: black
}

/* main settings */
main {
    width: 80%;
    font-size: calc(1vw + 12px)
}

main h3 {
    font-size: calc(0.8vw + 20px);
}

main p {
    font-size: calc(0.8vw + 10px);
}

#output {
    text-align: left;
}

/*unique code*/
h3, main p {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    max-width: 70%;
}

.encode-sans {
    font-family: "Encode Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    font-size: calc(3px + 1vw);
    background-color: rgb(174, 195, 174);
}

#time-date {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: calc(3px + 1vw);
}




/* queries WRONG*/
@media screen and (max-width: 750px) {
    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav {
        width: 100%
    }

    nav ul {
        margin: 1.5% 0;
    }

    nav li {
        display: inline;
        margin: 5% 0.5%;
        padding: 0.5%;

    }

    main {
        width: 100%
    }

    header {
        text-align: center;
    }

    #subtitle {
        text-align: center;
    }
}
