* {
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    display: block;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: #FFDDCC;
}
label {
    font-size: calc(1vw + 7px);
    padding: 1.5%;
}

input {
    font-size: calc(1vw + 7px);
    display: block;
    margin: auto;
    padding: 0.5%;
    border: 3px solid #E9B824;
    background-color: #FFEECC;
}

button {
    font-size: calc(1vw + 6px);
    padding: 0.5% 1.5%;
    margin: 1%;
    border: solid navy 3px;
    background-color: #A6D0DD;
}

#output {
    display: block;
    font-size: calc(1vw + 15px);
    border: 3px solid darkgreen;
    padding: 1.5% 2.5%;
    margin: auto;
    width: 25%;
    background-color: #C8E4B2;
}

h1 {
    font-size: calc(1vw + 20px);
}

img {
    display: block;
    margin: auto;
    max-width: 40%;
    border: white solid 5px;
}

.dancing-script {
                     font-family: "Dancing Script", cursive;
                     font-optical-sizing: auto;
                     font-weight: 500;
                     font-style: normal;
                 }