* {
    margin: 0;
    box-sizing: border-box;
}
div {
    width: 80vw;
    margin: auto;
    background-color: #FFCCCC;
}
header, footer {
    background-color: #A0C49D;
    text-align: center;
    margin: 1%
}
header {
    padding: 2%
}
footer {
    padding: 1%
}
/*nav bar horizontal*/
nav ul {
    list-style: none;
    padding: 1%;
    text-align: center;
    background-color:#F58B54;
    margin: 1.5% 0
}
nav li {
    display: inline;
    margin: 5% 3%;
    border: solid black 2px;
    padding: 0.5%;
    background-color: #DBC4F0;
}
nav li a{
    text-decoration: none;
    padding: 1%;
    color: black
}
/*unique code*/
h3, p, h4 {
    text-align: center;
}