* {
    margin: 0;
    box-sizing: border-box;
}
div {
    width: 80vw;
    margin: auto;
    background-color: rgb(228, 228, 208);
}
header, footer {
    background-color:  rgb(195, 226, 194);
    text-align: center;
    margin: 1%
}
header {
    padding: 2%
}
footer {
    padding: 1%
}

nav ul {
    list-style: none;
    padding: 1%;
    text-align: center;
    background-color: rgb(255, 234, 167);
    margin: 1.5% 0;
}
nav li {
    display: inline;
    margin: 5% 0.5%;
    border: solid black 2px;
    padding: 0.5%;
    background-color: darkkhaki;

}
nav li a {
    text-decoration: none;
    padding: 1%;
    color: black
}


/*unique code*/
h3, p {
    text-align: center;
}
